
:root {
  font-size: 62.5%
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#head {
  top: 0;
  text-align: center;
  margin: 0 auto 2rem;
  padding: 1rem;
  height: 20rem;
  width: auto;
  background-color: grey;
  display: grid;
  grid-template-areas: 
    'war'
    'score'
    'scores';
  justify-content: space-evenly;
  align-content: space-evenly;
}

.scores {
  grid-area: scores;
  margin: 0 auto;
}

#score-title {
  margin-bottom: 1rem;
  grid-area: score;
  font-size: 2.5rem;
  text-decoration: underline;
}

#start-btn {
  grid-area: begin;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: .5rem 2.5rem;
  border: solid black .2rem;
  grid-area: war;
  animation: war 1s linear infinite both paused;
}

@keyframes war {
  0% {
    background-color: grey;
  }

  10% {
    background-color: grey;
  }

  50% {
    background-color: red;
  }

  90% {
    background-color: grey;
  }

  100% {
    background-color: grey;
  }
}

#reset-btn {
  grid-area: reset;
}

.score1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.score2 {
  font-size: 2rem;
}

.game-space {
  border-radius: .5rem;
  padding: 2rem;
  height: 30rem;
  width: 72rem;
  margin: 2rem auto;
  border: inset rgb(124, 124, 124) .5rem;
  background-color: rgb(112, 112, 112);
  display: grid;
  grid-template-areas: 
    'deck1 card1 card2 deck2';
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: .2rem;
}

#comp-deck {
  grid-area: deck1;
}

#comp-card {
  grid-area: card1;
}

#user-card {
  grid-area: card2;
}

#user-deck {
  grid-area: deck2;
}

.deck {
  box-shadow: .4rem .4rem 0 0 black;
  background-image: url(res/back.png);
  border-radius: 1rem;
  display: grid;
  height: 22rem;
  width: calc((2.25/3.5) * 22rem);
  border: solid black .15rem;
}

.comp-card {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  height: 22rem;
  width: calc((2.25/3.5) * 22rem);
  border: solid black .15rem;
}

.user-card {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  height: 22rem;
  width: calc((2.25/3.5) * 22rem);
  border: solid black .15rem;
}

#draw-btn {
  font-size: 2rem;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (max-width: 800px) {
  .deck {
    height: 16rem;
    width: calc((2.25/3.5) * 16rem);
  }
  .comp-card {
    height: 16rem;
    width: calc((2.25/3.5) * 16rem);
  }
  .user-card {
    height: 16rem;
    width: calc((2.25/3.5) * 16rem);
  }
  .game-space {
    height: 23rem;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .game-space {
    height: 21rem;
    /*grid-template-areas: 
      'deck1 deck2'
      'card1 card2';*/
  }
  .title {
    margin-bottom: .5rem;
    font-size: 2rem;
  }
  #score-title {
    margin-bottom: .5rem;
    font-size: 1.7rem;
  }
  .score1 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  .score2 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  .deck {
    height: 14rem;
    width: calc((2.25/3.5) * 14rem);
  }
  .user-card {
    height: 14rem;
    width: calc((2.25/3.5) * 14rem);
  }
  .comp-card {
    height: 14rem;
    width: calc((2.25/3.5) * 14rem);
  }
}